/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #353430;
  --shadow-color: #ff0070;
  --shadow-color-low-resolution: #FF8DCB;
  --main-font-family: 'IBM Plex mono', monospace;
  --button-hover-border-color: rgba(50, 49, 45, 0.40);
  --main-bg-color: #00183f;
  --title-bg-color: #FF8DCB;
  --title-decor-color: #353430;
  --main-text-color: #353430;
  --nav-color: #353430;
  --main-heading-color: #00183f;
  --section-heading-color: #FF8DCB;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --visibility: hidden;
  --background-image: url('../images/cover-image-light.png');
}

.theme_light .header__rec {
  display: block;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(225 0 112 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --shadow-color: #ff0070;
    --shadow-color-low-resolution: #FF8DCB;
    --main-font-family: 'IBM Plex mono', monospace;
    --button-hover-border-color: rgba(50, 49, 45, 0.40);
    --main-bg-color: #00183f;
    --title-bg-color: #FF8DCB;
    --title-decor-color: #353430;
    --main-text-color: #353430;
    --nav-color: #353430;
    --main-heading-color: #00183f;
    --section-heading-color: #FF8DCB;
    --header-logo-color: #FFC2E6;
    --footer-logo-color: #FFC2E6;
    --visibility: hidden;
    --background-image: url('../images/cover-image-light.png');
  }

  .page {
    background-image: url('../images/cover-image-light.png');
  }
}